<%- include('../includes/head.ejs') %>
    </head>
    <body>
        <%- include('../includes/navigation.ejs') %>
        <main>
            <%if(orders.length<=0){%>
                <h1>Nothing there!</h1>
                <%}else{%>
                    <%for(order of orders){%>
                        <ul>
                            <h5># <%=order._id%>
                            </h5>
                        </ul>
                        <%order.orderItem.forEach(item=>{%>
                            <li><%=item.title%>(<%=item.quantity%>)</li>
                                <%})%>
                    <%}%>
                <%}%>

        </main>
<%- include('../includes/end.ejs') %>
                                
                                